@font-face {
  font-family: Circular;
  src: url("./assets/fonts/CircularStd-Medium.ttf") format("truetype"), url("./assets/fonts/CircularStd-Medium.woff") format("woff");
}

* {
  font-family: "Circular";
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
}

#video_wrapper {
  position: relative;
  width: fit-content;
  margin: auto;
}

#video_wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(to top, #000000, rgba(255, 255, 255, 0) 30%);
}

#video_wrapper > video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#video_wrapper > video.wide {
  width: 100vw !important;
  height: auto !important;
}

#video_wrapper > video:not(.wide) {
  width: auto !important;
  height: 100vh !important;
}

#canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#transcription_wrapper {
  padding: 0% 2%;
  box-sizing: border-box;
  bottom: 0;
  position: fixed;
  z-index: 999;
}

#transcription_wrapper > h1 {
  color: white;
  font-size: 2em;
}

#modal {
  position: absolute;
  display: flex;
  align-items: center;
  margin: auto;
  height: 60%;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 10px 25px 10px 5px;
  border: #a8a8a8 3px solid;
  border-radius: 15px;
  background-color: rgb(29 29 29);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
  transform: translateX(83%);
  transition: 0.5s cubic-bezier(0.22, 0.04, 0, 0.99);
  z-index: 999;
}

#modal:hover {
  transform: translateX(15px);
}

#arrow {
  height: 15%;
  transition: 0.3s;
}

#modal:hover > #arrow {
  transform: scaleX(-1);
}

#tutorial {
  height: 100%;
}

#loading {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  pointer-events: all;
  background-color: black;
  transition: 0.3s;
  z-index: 9999999;
}

#loading.inactive {
  pointer-events: none;
  opacity: 0;
}

#loading > h2 {
  color: white;
}
